@media (max-width:500px){
    body{
        overflow-x: hidden !important;
        max-width: 500px !important;
        width: 500px !important;
    }
    .container-contact{
        width: 500px !important;
        height: 1100px;
        animation: contenido 1s forwards;
    }
    .container-contact .container-decoracion{
        width: 500px !important;
        height: 280px;
    }
    .container-decoracion .decoracion{
        width: 77%;
        height: auto;
    }
    .container-decoracion .decoracion h1{
        text-align: center;
        color: #2B2C2C;
        font-size: 28px;
        padding: 100px 0px 30px 0px;
    }
    .container-contact .container-formulario{
        width: 500px !important;
        height: auto;
    }
    .container-formulario .formulario{
        width: 86%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .formulario .col{
        width: 400px;
        height: 100px !important;
    }
    .formulario .coltxt{
        width: 400px;
    }
    .formulario .col input{
        width: 420px;
    }
    .formulario .coltxt textarea{
        width: 420px;
    }
}