@media (max-width:500px){
    body{
        overflow-x: hidden !important;
        max-width: 500px !important;
        width: 500px !important;
    }
    header{
        width: 500px !important;
        max-width: 500px !important;
        overflow: hidden;
        border-bottom: 1px solid #999;
        background-color: white;
    }
    .container-header{
        width: 500px;
        padding: 0px 20px;
        background-color: white;
    }
    header .logo .link-logo{
        font-size: 30px;
        color: #4FB286;
        margin-left: 18px;
        font-weight: bolder;
    }
    .container-nav{
        display: flex;
    }
    .btn-menu{
        display: flex;
    }
    .move_content{
        right: 0px;
    }
    .nav-bar{
        height: 0px;
        display: none;
        width: 96%;
        margin: auto;
        background: white;
        position: fixed;
        top: 68px;
        left: 2%;
        padding: 0px 30px;
        box-shadow: 1px 2px 3px #999;
        border-top: 3px solid #4FB286;
        transform-origin: top;
    }
    .move_nav{
        height: 303px;
        position: fixed;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: block;
        animation: mostrarmenu 0.6s backwards;
    }
    @keyframes mostrarmenu {
        from{
            height: 0;
        }
        to{
            height: 245px;
        }
    }
    .nav-bar .nav-menu{
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: stretch !important;
        margin-left: -22px;
    }
    .container-header .nav-bar .nav-menu .nav-item{
        width: 100%;
        height: 45px;
        display: inline-block;
        border-bottom: 1px solid rgba(79, 178, 134, 0.2);
        padding: 13px;
        transform: none;
        animation: none !important;
    }
    .nav-bar .nav-menu .nav-item:hover{
        background-color: rgba(79, 178, 134,0.2);
    }
    .container-header .nav-bar .nav-menu .nav-item .nav-link{
        width: 100%;
        display: block;
        color: #333;
        font-size: 16px;
    }
    .container-header .nav-bar .nav-menu .nav-item:hover .nav-link{
        color: #4FB286;
    }
    .showcase{
        overflow-x: hidden !important;
        width: 500px !important;
        height: 140vh;
        display: block;
    }
    .showcase h1{
        width: 460px;
        margin: auto;
        color: #2B2C2C;
        text-align: center;
        font-size: 33px;
        margin-top: 155px;
    }
    .showcase .student-rotate{
        display: inline-block;
        margin-left: 10px;
        font-size: 30px;
        color: #4FB286;
        animation: student-rotate 2s linear infinite;
    }
    .showcase p{
        width: 90%;
        margin: auto;
        color: #2B2C2C;
        text-align: center;
        font-size: 16px;
        margin-top: 40px;
    }
    .showcase .container-photo-perfil{
        width: 220px;
        height: 220px;
        background-color: #4FB286;
        border-radius: 100%;
        display: block;
        margin: 45px auto;
        animation: foto-perfil 1s forwards;
    }
    .container-photo-perfil img{
        width: 220px;
        height: 220px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
    }
    .showcase button{
        display: block;
        color: white;
        background-color: #4FB286;
        outline: none;
        border: none;
        width: 140px;
        height: 50px;
        font-size: 16px;
        border-radius: 50px;
        transition: all 0.5s;
        transform: scale(1);
        margin: 35px auto !important;
        animation: boton 2s linear infinite;
    }
    .showcase button:hover{
        background-color: transparent;
        border: 2px solid #4FB286;
        color: #4FB286;
        transition: all 0.5s;
        animation: none;
    }
    .about-me{
        overflow: hidden !important;
        width: 500px !important;
        height: auto;
        background-color: #4FB286;
    }
    .about-me h2{
        width: 400px;
        margin: auto;
        font-size: 28px;
        text-align: center;
        padding: 90px 0px 30px 0px;
    }
    .about-me p{
        color: #2B2C2C;
        text-align: justify;
        font-size: 14px;
        width: 75%;
        margin: auto;
    }
    .about-me .container-hobbies{
        width: 100%;
        height: auto;
    }
    .container-hobbies h3{
        text-align: center;
        color: #2B2C2C;
        font-size: 38px;
        padding: 40px 0px;
    }
    .container-hobbies .board-hobbies{
        width: 85%;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .board-hobbies .hobbie-item{
        width: 150px;
        height: 150px;
        padding: 30px;
        border: 1px solid white;
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 13px;
        transform: scale(1);
        transition: all 1s;
    }
    .services{
        overflow: hidden;
        width: 500px !important;
        height: 1650px;
        background: linear-gradient(180deg, #4FB286 5%, white 100%);
        position: relative;
    }
    .container-box{
        width: 80%;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        margin: auto;
        position: absolute;
        top: 110px;
        left: 10%;
        border: 1px solid rgb(190, 190, 190);
    }
    .container-box .box-title{
        width: 100%;
        padding: 20px 0px;
        margin: 0;
    }
    .box-title h2{
        text-align: center;
        font-size: 40px;
        color: #2B2C2C;
    }
    .box-title p{
        text-align: center;
        font-size: 13px;
        width: 100%;
        margin: 0;
    }
    .container-portafolio{
        max-width: 500px !important;
        width: 500px !important;
        height: auto;
        background-color: white;
        overflow: hidden;
    }
    .container-portafolio .title{
        text-align: center;
        width: max-content;
        padding: 90px 0px 30px 0px;
        margin: auto;
        font-size: 30px;
    }
    .container-portafolio p{
        width: 400px;
        margin: auto;
        text-align: center;
        color: #2B2C2C;
        font-size: 16px;
    }
    .container-portafolio .container-work-ppal{
        width: 100%;
        height: auto;
        background-color: transparent;
        margin: 15px auto !important;
        z-index: 4;
        display: grid;
        row-gap: 60px;
        column-gap: 30px;
        grid-template-columns: repeat(1, auto);
        padding: 3rem;
    }
    .container-portafolio .container-work-ppal .main-work{
        position: relative;
        width: 400px;
        height: auto;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 5px 14px #999;
    }
    .main-work h2{
        color: #4FB286;
        margin-top: 10px;
        font-size: 24px;
    }
    .main-work h3{
        font-size: 21px;
        color: #2B2C2C;
    }
    .main-work p{
        width: 100%;
        text-align: left;
        font-size: 14px;
        color: #2B2C2C;
        margin-top: 5px;
    }
    .container-habilidades{
        width: 500px;
        height: auto;
        padding-bottom: 200px;
    }
    .container-habilidades .title{
        width: 400px !important;
        text-align: center;
        width: max-content;
        padding: 90px 0px 30px 0px;
        margin: auto;
        font-size: 30px;
        color: #2B2C2C;
        position: relative;
    }
    .lista-habilidades .progress_inner{
        width: 100%;
        height: 44px;
        margin-top: 10px;
    }
    .lista-habilidades .progress_inner .background{
        width: 100%;
        height: 10px;
        background-color: rgba(153, 153, 153, 0.2);
        margin-top: 5px;
        position: relative;
    }
    .footer{
        width: 500px !important;
        height: 440px;
        background-color: #4FB286;
        position: relative;
    }
    .footer .container-contactame{
        width: 70%;
        height: 210px;
        border-radius: 25px;
        background-color: #2B2C2C;
        position: absolute;
        top: -105px;
        left: 15%;
        padding: 30px;
    }
    .container-contactame h2{
        text-align: center;
        color: white;
        font-size: 25px;
    }
    .container-contactame a{
        background: transparent;
        border: 2px solid #4FB286;
        color: white;
        padding: 15px;
        width: max-content;
        height: max-content;
        display: block;
        margin: auto;
        margin-top: 30px;
        border-radius: 25px;
        font-size: 14px;
        font-weight: bolder;
        transition: all 1s;
    }
    .container-contactame a:hover{
        background-color: #4FB286;
    }
    .footer .footer-content{
        width: 100%;
        height: 300px;
        position: absolute;
        top: 90px;
    }
    .footer-content h2{
        text-align: center;
        color: white;
        font-size: 60px;
        padding: 80px 0px 15px 0px;
    }
    .footer p{
        text-align: center;
        color: white;
    }
    .footer-content .nav-redes-sociales{
        width: 100%;
        height: 60px;
        background-color: #4FB286;
        display: flex;
        justify-content: center;
        position: relative;
        top: 30px;
    }
    .nav-redes-sociales .followLink{
        display: inline-block;
        width: max-content;
        height: 60px;
        display: flex;
        justify-content: center;
    }
    .nav-redes-sociales .followLink li{
        display: inline-block;
        list-style: none;
        margin: 5px;
    }
    .nav-redes-sociales .followLink li .circle{
        background: transparent;
        border: 1px solid white;
        width: 20px;
        height: 20px;
        padding: 10px;
        border-radius: 100%;
        transition: all 0.5s;
    }
    .nav-redes-sociales .followLink:hover .circle{
        filter: blur(2px);
    }
    .nav-redes-sociales .followLink li .circle a{
        display: block;
    }
    .nav-redes-sociales .followLink li .circle i{
        color: white;
        font-size: 15px;
        position: relative;
        top: 0px;
    }
    .footer-two{
        width: 100%;
        height: max-content;
        position: relative;
        top: 40px;
    }
    .footer-two p{
        text-align: center;
        color: white;
        font-size: 14px;
    }
    .container-fijo{
        width: 30px;
        height: 30px;
    }
    .container-fijo i{
        font-size: 13px;
    }
}
